@model SimpleCRUD_MVC.Business.Models.Output.OrderOutput

<h1>@Model.ClientFirstName @Model.ClientLastName Order Number : @Model.Id</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientLastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><button class="btn btn-primary">Edit</button></a> |
    <a asp-action="Index"><button class="btn btn-primary">Back to List</button></a>
</div>
