@model IEnumerable<SimpleCRUD_MVC.Business.Models.Output.OrderOutput>


<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientLastName)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientLastName)
                </td>
                <td>
                    <a asp-action="Index" asp-controller="OrderItem" asp-route-orderId="@item.Id"><button class="btn btn-primary">See the products of this order</button></a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-primary">Edit</button></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-primary">Details</button></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-primary">Delete</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="d-grid gap-2"><button class="btn btn-primary">New Order</button></a>