@model IEnumerable<SimpleCRUD_MVC.Business.Models.Output.ProductOutput>

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibility)
            </td>
                 <td>
                 @{
                     var base64 = Convert.ToBase64String(item.ImageProduct);
                     var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                  }
                 <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-warning">Edit</button></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-info">Details</button></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>


<a asp-action="Create" class="d-grid gap-2"><button class="btn btn-primary">Create New</button></></a>
